html,
body {
  padding: 0;
  margin: 0;
  font-family: Ubuntu;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu/Ubuntu-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
